nav .nav-item{
    font-size: 150%;
}

.navbar{
    height: 55px;
}
body{
    /* background-image: url("/static/img/diagmonds2.png"); */
    background-color: #f5f5f5;
    font-family: 'Ubuntu Condensed', sans-serif;
}