{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block body %}
<div class="text-center">
  <div class="container">
    <br>
    <br>
    <h1 class="display-3">Welcome to My Sheep!</h1>
    <p class="lead">
      My Sheep is a simple open source web application, meant for sunday schools
    </p>
    <p class="lead">
    My Sheep helps you track children attendances and visits and share this data with your colleague servants
    </p>    
    <hr class="my-4">
    <p class="lead">
        
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
    <p>
        © Amir Anwar
    </p>
  </div>
  </div>
  {% endblock %}